FLASK_ENV=development
SECRET_KEY=change-me-dev
JWT_SECRET_KEY=change-me-too
# Use ONE of these:
DATABASE_URL=mysql+pymysql://birth_user:birth_pass@127.0.0.1:3306/birth_db
#DATABASE_URL=sqlite:///birth.db
